{{- if and (eq .chezmoi.os "linux") (not (or (eq .chezmoi.osRelease.id "raspbian") (eq .chezmoi.osRelease.idLike "raspbian") (match "^pi" .chezmoi.hostname) (match "raspberry" .chezmoi.hostname))) }}
font-family = "{{ .chezmoi.current_font | default "Agave Nerd Font" }}"
command = zellij
{{- end }}

