{{- if and (eq .chezmoi.os "linux") (not (or (and (eq .chezmoi.osRelease.id "debian") (or (regexMatch "^pi" .chezmoi.hostname) (regexMatch "raspberry" .chezmoi.hostname))) (regexMatch "^pi" .chezmoi.hostname) (regexMatch "raspberry" .chezmoi.hostname))) }}
font-family = "{{ index .chezmoi "current_font" | default "Agave Nerd Font" }}"
command = zellij
{{- end }}

