{{- if eq .chezmoi.os "windows" }}
{
  "config_version": 1,
  "general": {
    "focus_follows_mouse": false,
    "workspace_wrap": false,
    "window_hiding_behavior": "hide",
    "border_width": 2,
    "default_layout": "bsp",
    "gaps": {
      "inner": 6,
      "outer": 8
    }
  },
  "workspaces": [
    { "id": 1, "layout": "bsp" },
    { "id": 2, "layout": "bsp" },
    { "id": 3, "layout": "bsp" },
    { "id": 4, "layout": "bsp" },
    { "id": 5, "layout": "bsp" },
    { "id": 6, "layout": "bsp" },
    { "id": 7, "layout": "bsp" },
    { "id": 8, "layout": "bsp" },
    { "id": 9, "layout": "bsp" },
    { "id": 10, "layout": "bsp" }
  ],
  "monitors": [],
  "rules": []
}
{{- end }}

