{{- $theme := index .chezmoi "current_theme" | default "gruvbox" }}
{{- $themePath := printf "themes/%s/neovim.lua" $theme }}
{{- if (stat $themePath) }}
{{ include $themePath }}
{{- else }}
-- Theme file not found: {{ $themePath }}
-- Falling back to gruvbox
{{ include "themes/gruvbox/neovim.lua" }}
{{- end }}

