{{- if and (eq .chezmoi.os "linux") (or (and (eq .chezmoi.osRelease.id "debian") (or (regexMatch "^pi" .chezmoi.hostname) (regexMatch "raspberry" .chezmoi.hostname))) (regexMatch "^pi" .chezmoi.hostname) (regexMatch "raspberry" .chezmoi.hostname)) }}
[font]
size = {{ .chezmoi.font_size | default "14" }}
{{- end }}

