{{- if and (eq .chezmoi.os "linux") (or (eq .chezmoi.osRelease.id "raspbian") (eq .chezmoi.osRelease.idLike "raspbian") (match "^pi" .chezmoi.hostname) (match "raspberry" .chezmoi.hostname)) }}
[font]
normal = { family = "{{ .chezmoi.current_font | default "Agave Nerd Font Mono" }}", style = "Regular" }
bold = { family = "{{ .chezmoi.current_font | default "Agave Nerd Font Mono" }}", style = "Bold" }
{{- end }}

