{{- if and (eq .chezmoi.os "linux") (or (and (eq .chezmoi.osRelease.id "debian") (or (match "^pi" .chezmoi.hostname) (match "raspberry" .chezmoi.hostname))) (match "^pi" .chezmoi.hostname) (match "raspberry" .chezmoi.hostname)) }}
[font]
size = {{ .chezmoi.font_size | default "14" }}
{{- end }}

