{{- if and (eq .chezmoi.os "linux") (or (and (eq .chezmoi.osRelease.id "debian") (or (regexMatch "^pi" .chezmoi.hostname) (regexMatch "raspberry" .chezmoi.hostname))) (regexMatch "^pi" .chezmoi.hostname) (regexMatch "raspberry" .chezmoi.hostname)) }}
[font]
normal = { family = "{{ index .chezmoi "current_font" | default "Agave Nerd Font Mono" }}", style = "Regular" }
bold = { family = "{{ index .chezmoi "current_font" | default "Agave Nerd Font Mono" }}", style = "Bold" }
{{- end }}

