{{- if eq .chezmoi.os "linux" }}
{{- $theme := .chezmoi.current_theme | default "gruvbox" }}
{{- $themePath := printf "themes/%s/alacritty.toml" $theme }}
{{- if (stat $themePath) }}
{{ readFile $themePath }}
{{- else }}
# Theme file not found: {{ $themePath }}
# Falling back to gruvbox
{{ readFile "themes/gruvbox/alacritty.toml" }}
{{- end }}
{{- end }}

